/* src/App.css */
.square {
    width: 150px;
    height: 150px;
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
  }
  
  .board {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
  }
  
  .board > div {
    clear: both;
  }
  