.pagination{
    display: flex;
    padding: 1rem;
    gap:10px;
    justify-content: center;
}

.pagination button{
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
}
.pagination button.active{
    background: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}
.pagination button.disabled{
    cursor:not-allowed;
    opacity: 0.5;
}
.page-content{
    width: 100%;
    height: 500px;
    background-color: #555F;
    align-content: center;
}